.bcg_img {
  background-image: url("../../Images/Group\ 31.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-position: 53px -2%;
  margin-bottom: 2rem;
  max-width: 1800px;
}
.home_main {
  margin-top: 3rem;
}
.main {
  position: relative;
}
.black_div {
  position: relative;
}
.black_one {
  background: #161616;
  height: 282px;
  width: 92%;
  margin: 30px 70px 0px;
  border: 1px solid #707070;
  z-index: 2;
  position: relative;
  box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 24px 13px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
}

.black_img {
  margin: 41px;
}
.black_p {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 20px;
}
.black_p2 {
  color: white;
  margin: 0px;
  font-size: 0.51rem;
}
.black_span {
  font-size: 26px;
}

.red_child1 {
  height: 194px;
  width: 192px;
  position: absolute;
  background: #e21414;
  z-index: 2;
  top: -80px;
  right: -2%;
  box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 24px 13px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
}
.red_h4 {
  font-family: "JetBrainsMono-Regular";
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
  padding-top: 90px;
}
.image-wrapper {
  position: relative;
}
.image454 {
  top: -20px;
  position: relative;
  z-index: 0;
}
.golf_img {
  width: 100%;
  height: 59vh;
}
.sam_main {
  background: #161616;
  width: 92%;
  margin-left: 75px;
  height: 121px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 24px 13px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
}
.sam_child {
  /* position: absolute; */
  padding: 20px;
  padding-left: 30px;
}
.sam_h2 {
  color: white;
  font-size: 36px;
  margin: 0px;
  font-weight: 500;
}
.sam_p {
  color: white;
  font-size: 12px;
}
.lst_div {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 450px) and (min-width: 280px) {
  .red_child1 {
    width: 145px;
  }
}
@media screen and (max-width: 1024px) {
  .lst_div {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .lst_div {
  }
}
