.bgd_img {
  margin: 2rem 0;
  background-image: url("../../Images/Group\ 29.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-position: 0 2%;
  background-attachment: fixed;
}
.table_black {
  width: 30%;
  height: 350px;
  background: #161616;
  box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 24px 13px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 15px 14px 13px 15px rgba(0, 0, 0, 0.2);
}
.none {
  width: 150px;
}
.tble {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.table_child1 {
  padding: 30px;
  padding-top: 16rem;
}
.table_h3 {
  color: white;
  font-size: 30px;
}
.swing_main {
  margin-top: 5rem;
  font-size: 24px;
}
.textss_centers {
  text-align: center;
}
.overview_main {
  display: flex;
  justify-content: space-between !important;
}
.over_up {
  display: flex;
  align-items: center;
  justify-content: center;
}
.over_h5 {
  font-size: 12px;
}
.line_div {
  width: 250px;
  height: 1px;
  border: 1px solid grey;
}
.over_col {
  width: 8.666667%;
}
.hr {
  color: grey;
}
.hr:hover {
  color: blue;

  /* height: 3px; */
}
.line_main {
  margin-top: 1rem;
  font-size: 24px;
}

@media screen and (max-width: 766px) and (min-width: 280px) {
  .none {
    display: none;
  }
  /* .over_col{
        width: 50%;
    }  */
  .textss_center {
    text-align: end;
  }
}
@media screen and (min-width: 470px) and (max-width: 1024px) {
  .bgd_img {
    background-position: 0px 2%;
  }
}
@media screen and (min-width: 405px) and (max-width: 469px) {
  .bgd_img {
    background-position: 0px 5%;
  }
}
@media screen and (min-width: 380px) and (max-width: 404px) {
  .bgd_img {
    background-position: 0px 0%;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  .bgd_img {
    background-position: 0px 0%;
  }
}

@media screen and (min-width: 540px) and (max-width: 950px) {
  .table_black {
    width: 45%;
  }
}
@media screen and (min-width: 540px) and (max-width: 766px) {
  .Col_eight {
    padding-left: 15px !important;
  }
  .Col_eights {
    padding-left: 29px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 539px) {
  .table_black {
    width: 55%;
  }
}
@media screen and (min-width: 280px) and (max-width: 399px) {
  .table_black {
    width: 65%;
    height: 300px;
  }
  .table_child1 {
    padding-top: 11rem;
  }
}

@media screen and (min-width: 280px) and (max-width: 550px) {
  .over_col {
    width: 25%;
  }
  .textss_center {
    text-align: center;
  }
}
